<mat-toolbar class="mat-elevation-z8" [color]="'primary'">
  <button mat-icon-button  (click)="sidenav?.toggle()">
    <mat-icon> menu </mat-icon>
  </button>

  <span>Super Pass</span>
  <span class="spacer"></span>

  <button
    mat-icon-button
    aria-label="Logout from Super Pass"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div *ngFor="let menu of menuItems">
      <button
        mat-button
        class="menu-button"
        routerLink="{{ menu.link }}"
        [queryParams]="{ type: menu.param }"
        (click)="sidenav.mode === 'over'? sidenav?.toggle() : '' "
        routerLinkActive="active"
        *ngIf="!menu.sublist"
      >
        <mat-icon>{{ menu.icon }}</mat-icon>
        <span>{{ menu.label }}</span>
      </button>

      <mat-divider  *ngIf="menu.sublist"></mat-divider>
      <mat-expansion-panel
        class="mat-elevation-z0"
        [expanded]="true"
        *ngIf="menu.sublist"
      >
        <mat-expansion-panel-header class="nav-head" [expandedHeight]="'48px'">
          <mat-panel-title class="nav-link">
            <span class="nav-link-text">{{ menu.label }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="nav-section" *ngFor="let subMenu of menu.sublist">
          <!-- loop through all your sub pages inside the expansion panel content -->
          <button
            mat-button
            class="menu-button"
            routerLink="{{ subMenu.link }}"
            [queryParams]="{ type: subMenu.param }"
            (click)="sidenav.mode === 'over'? sidenav?.toggle() : '' "
            routerLinkActive="active"
          >
            <mat-icon>{{ subMenu.icon }}</mat-icon>
            <span>{{ subMenu.label }}</span>
          </button>
        </div>
      </mat-expansion-panel>
      <mat-divider  *ngIf="menu.sublist"></mat-divider>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
