@import "../../../../theme.scss";
@import "~@angular/material/theming";


mat-sidenav {
  width: 100%;
  border-right: none;
  border-radius: 10px;
}

@media only screen and (min-width: 1080px) {
  mat-sidenav {
    width: 550px;
  }
}

mat-list-item {
  &:hover {
    background-color: mat-color($dark-primary) !important;
    cursor: pointer;
  }
}

.password-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

// .password-container {
//   display: flex;
//   flex-direction: row;
//   width: 100%;
// }

.search-input{
  width: 60%;
}

.password-list {
  height: 90vh;
  overflow-y: scroll;

  .selected{
    background-color: mat-color($dark-primary) !important;
  }
}

.sub-line{
  font-size: 12px !important;
}

.password-field{
  display: flex;
  flex-direction: row;

  .field-value{
    width: 80%;
  }

  button{
    margin-top: 10px;
  }
}



.password-detail {
  padding: 10px;

  .header {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    min-height: 80px;

    .fav{
      color: goldenrod;
    }
    mat-icon{
      cursor: pointer;
      padding: 5px;

      &:hover {
        color: mat-color($dark-primary) !important;
        cursor: pointer;
      }
    }

    .logo {
      width: 10%;
      font-size: 30px;
    }

    .name {
      width: 50%;
      margin-top: 7px;
      .title {
        font-size: 18px;
        font-weight: 700;
      }
      .vault {
        font-size: 14px;
      }
    }
  }

  .label {
    font-size: 10px;
    font-weight: 550;
    margin-top: 10px;
  }

  .text{
    font-size: 14px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1080px) {
  .password-detail {
    .header{
      .name{
        width: 75%;
        margin-top: 0px;
      }
    }
    
  }
}

.default-content{
  padding-left: 5px;

  .easy-copy{
    margin-top: 10px;
  }
}

/*Search Bar*/
.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
}

.searchBar {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 95%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}