<mat-form-field appearance="fill" [ngClass]="fullWidth?'full-width':'small-field'">
    <mat-label>{{label}}</mat-label>
    <input
      matInput
      [(ngModel)]="password"
      (ngModelChange)="onPasswordChange()"
      type="password"
      *ngIf="!showPassword"
    />
    <mat-icon
      matSuffix
      (click)='showHidePassword()'
      *ngIf="!showPassword"
      >visibility</mat-icon
    >

    <input
      matInput
      [(ngModel)]="password"
      (ngModelChange)="onPasswordChange()"
      type="text"
      *ngIf="showPassword"
    />
    <mat-icon
      matSuffix
      (click)='showHidePassword()'
      *ngIf="showPassword"
      >visibility_off</mat-icon
    >
  </mat-form-field>
