<div class="vault-container">
  <mat-card class="card" (click)='openDialog()'>
    <mat-card-content class='add-card'>
        <mat-icon >add</mat-icon>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" *ngFor="let item of vaultState.getList$() | async; let i = index">
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{item.subTitle}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{item.description   }}</p>

      <div class='action-buttons'>
             <mat-icon (click)='edit(item, i)'>edit</mat-icon>
             <mat-icon (click)='delete(item)'>delete</mat-icon>
       </div>
    </mat-card-content>
    
  </mat-card>

</div>
