@import "../../../theme.scss";
@import "~@angular/material/theming";

mat-list-item {
  &:hover {
    background-color: mat-color($dark-primary) !important;
    cursor: pointer;
  }
}

.password-container {
  display: flex;
  flex-direction: row;
}

.search-input{
  width: 60%;
}

.password-list {
  height: 90vh;
  width: 40%;

  .selected{
    background-color: mat-color($dark-primary) !important;
  }
}



.password-detail {
  width: 60%;
  padding: 10px;

  .header {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    min-height: 80px;

    mat-icon{
      cursor: pointer;
      margin-top: 5px;
    }
    .logo {
      width: 10%;
      font-size: 30px;
    }

    .name {
      width: 80%;
      .title {
        font-size: 18px;
        font-weight: 700;
      }
      .vault {
        font-size: 14px;
      }
    }
  }

  .label {
    font-size: 10px;
    color: rgb(221, 220, 220);
    margin-top: 10px;
  }
}
