<div class="password-container">
  <div class="password-list">
    <div class="password-header">
      <input placeholder="Search" type="text" class="search-input" />
      <button mat-button color="secondary"><mat-icon>filter</mat-icon></button>
      <button mat-button color="secondary">
        <mat-icon (click)="openDialog()">add</mat-icon>
      </button>
    </div>

    <div>
      <mat-list>
        <mat-list-item
          [ngClass]="item.name === selected?.name ? 'selected' : ''"
          *ngFor="let item of passwordState.getList$() | async; let i = index"
          (click)="select(item, i)"
        >
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{ item.name }}</div>
          <div
            mat-line
            *ngIf="item.type != passwordType.CreditCard"
            class="sub-line"
          >
            {{ item.username }}
          </div>
          <div
            mat-line
            *ngIf="item.type == passwordType.CreditCard"
            class="sub-line"
          >
            {{ item.cardNo }}
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>

  <div class="password-detail" *ngIf="selected">
    <div class="header">
      <div class="logo">F</div>

      <div class="name">
        <div class="title">{{ selected?.name }}</div>
        <div class="vault">{{ vaultState.get(selected!.vault)?.name }}</div>
      </div>
      <div>
        <mat-icon (click)="edit()">edit</mat-icon>
        <mat-icon>delete</mat-icon>
        <mat-icon>star</mat-icon>
      </div>
    </div>

    <mat-card class="card">
      <mat-card-content class="add-card">
        <!--Account-->
        <div *ngIf="selected?.type == passwordType.Account">
          <div>
            <div class="label">Username</div>
            <div>{{ selected?.username }}</div>
          </div>

          <div>
            <div class="label">Password</div>
            <div>**********</div>
          </div>

          <div>
            <div class="label">Website</div>
            <div>{{ selected?.website }}</div>
          </div>
        </div>

        <!--Credit Card-->
        <div *ngIf="selected?.type == passwordType.CreditCard">
          <div>
            <div class="label">Card No</div>
            <div>{{ selected?.cardNo }}</div>
          </div>

          <div>
            <div class="label">Card Holder</div>
            <div>{{ selected?.username }}</div>
          </div>

          <div>
            <div class="label">CVC</div>
            <div>***</div>
          </div>

          <div>
            <div class="label">Pin</div>
            <div>****</div>
          </div>
        </div>

        <!--Bank Account-->
        <div *ngIf="selected?.type == passwordType.Bank">
          <div>
            <div class="label">Account No</div>
            <div>{{ selected?.bankAccountNo }}</div>
          </div>

          <div>
            <div class="label">Account Holder</div>
            <div>{{ selected?.username }}</div>
          </div>

          <div>
            <div class="label">Bank Branch</div>
            <div>{{ selected?.bankBranch }}</div>
          </div>

          <div>
            <div class="label">Debit Card No</div>
            <div>{{ selected?.cardNo }}</div>
          </div>

          <div>
            <div class="label">Pin</div>
            <div>****</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class='default-content'>
      <div>
        <div class="label">Created Date</div>
        <div class="text">{{ selected?.createdDate }}</div>
      </div>

      <div>
        <div class="label">Modified Date</div>
        <div class="text">{{ selected?.updatedDate }}</div>
      </div>
    </div>
  </div>
</div>
