<button class="close" mat-button (click)="onNoClick()">X</button>
<h1 mat-dialog-title>Create New Vault</h1>
<mat-dialog-content class="create-dailog">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.password.name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select matNativeControl required [(ngModel)]="data.password.type">
      <mat-option *ngFor="let type of passwordTypeKeys" value="{{type}}"
        >{{getPasswordDesc(type)}}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Vault</mat-label>
    <mat-select matNativeControl required [(ngModel)]="data.password.vault">
      <mat-option *ngFor="let vault of data.vaults" value="{{vault.id}}"
        >{{vault.name}}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <!--Account-->
  <div *ngIf="data.password.type == passwordType.Account">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="data.password.username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="data.password.password" type='password' />
      <mat-icon matSuffix>visibility</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Website</mat-label>
      <input matInput [(ngModel)]="data.password.website" />
    </mat-form-field>
  </div>

  <!--Credit Card-->
  <div *ngIf="data.password.type == passwordType.CreditCard">
    <mat-form-field appearance="fill">
      <mat-label>Card No</mat-label>
      <input matInput [(ngModel)]="data.password.cardNo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Card Holder Name</mat-label>
      <input matInput [(ngModel)]="data.password.username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CVC</mat-label>
      <input matInput [(ngModel)]="data.password.cvc" type='password' />
      <mat-icon matSuffix>visibility</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pin</mat-label>
      <input matInput [(ngModel)]="data.password.bankPin" type='password' />
      <mat-icon matSuffix>visibility</mat-icon>
    </mat-form-field>
  </div>

  <!--Bank Account-->
  <div *ngIf="data.password.type == passwordType.Bank">
    <mat-form-field appearance="fill">
      <mat-label>Account No</mat-label>
      <input matInput [(ngModel)]="data.password.bankAccountNo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Account Holder Name</mat-label>
      <input matInput [(ngModel)]="data.password.username" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bank Branch</mat-label>
      <input matInput [(ngModel)]="data.password.bankBranch" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Debit Card No</mat-label>
      <input matInput [(ngModel)]="data.password.cardNo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pin</mat-label>
      <input matInput [(ngModel)]="data.password.bankPin" type='password'/>
      <mat-icon matSuffix>visibility</mat-icon>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
