<div class="password-container">
  <div class="password-list">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Facebook</div>
        <div mat-line>jithendrathenu@gmail.com</div>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="password-detail">
    <div class='header'>
        <div class='logo'>
            F
        </div>

        <div class='name'>
            <div class='title'>Facebook</div>
            <div class='vault'>Personal Vault</div>
        </div>
    </div>

    <mat-card class="card">
      <mat-card-content class="add-card">
        <div>
          <div class='label'>Username</div>
          <div>jithendrathenu</div>
        </div>

        <div>
          <div class='label'>Password</div>
          <div>**********</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
