.login-container {
  height: calc(100vh);
  display: flex;
  justify-content: center;

  h2{
    margin-top: 15px;
  }

  mat-card {
    margin: 0;
    position: absolute;
    margin-top: 20%;
  }

  mat-tab-group {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
}

.input-container {
  margin-top: 15px;
}

@media only screen and (min-width: 720px) {
  .login-container {
    mat-card {
      width: 30%;
      margin-top: 5%;
    }
  }
}
